.fact {
	text-align:center;
	img {
		width: 90px;
	}
	p {
	    font-size: 1.2em;
	    line-height: 1.3;
	}
}

.reveal .playback {
	// display:none;
}

.image-slideshow {
	min-height: 560px;
    background-size: cover;
    padding-bottom: 25%;
    position: relative;
    left: 30px;
    top: 30px;
    background-position: center;
}

.raised-box {
    background: $orange;
    margin-bottom: 30px !important;
}

.slideshow {
	.flex-center {
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  h3, p {
		  	  max-width: 50%;
		  }
	}
}

.share-icons {
	img {
		max-width: 90px;
		margin-right: 20px;
	}
}