<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>What Will 100 Dollars Do</title>

		<link rel="stylesheet" href="/assets/css/app.min.css">
	</head>

	<body>
		<div class="fullscreenloader" style="width:100vw; height:100vw; background-color:#e68526;">
			<div class="loader">
				<svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				  viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
				    <path fill="#fff" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
				      <animateTransform 
				         attributeName="transform" 
				         attributeType="XML" 
				         type="rotate"
				         dur="1s" 
				         from="0 50 50"
				         to="360 50 50" 
				         repeatCount="indefinite" />
				  </path>
				</svg>
			</div>
		</div>

		<a href="#" class="speaker">
		  <span></span>
		</a>

		<div class="reveal">

			<div class="slides">

				<section data-background="/assets/img/splash.jpg" id="first" style="display:none;" data-transition-speed="slow">
					<h3 class="ml12 c-white">Thank you</h3>
					<h3 class="ml12 c-white">{{page.title}}</h3><br/>

					<p class="ml12 c-white">Here is what your gift has made possible</p>
					

				</section>

				<section data-background="#badb1c" data-background-transition="zoom"  data-autoslide="10000" data-transition-speed="slow">
					<h3 class="c-black" style="max-width: 640px; margin:0 auto; display: block;">Access to clean light and all its related enabling benefits is not a luxury item. It’s a human right, one we at <a style="color:#e68526;" href="//barefootcollege.org" target="_blank">Barefoot College</a> believe is the essential step to eradicating poverty</h3><br/>
					<p>Meagan Fallone, CEO of Barefoot College International</p>
				</section>

				<section data-background="#badb1c" data-background-transition="zoom" data-transition-speed="slow" data-autoslide="1000">
					<h3 class="c-black">Fact and figures</h3>
					<p>Your gift has enabled</p>
 
					<div class="grid">
						<div class="col-1-3 fact">
							<span class="fragment fade-in" data-autoslide="4000">
									<img src="/assets/img/icons/women.png" />
									<span class="fragment fade-out">
										<p>$1000 enables 2 Solar Mamas to go through an ENTREPRENEURIAL and LIFE SKILLS training in addition to her Solar engineering training</p> 
								</span>
							</span>
							
						</div>
						<div class="col-1-3 fact">
							<span class="fragment fade-in" data-autoslide="4000">
								<img src="/assets/img/icons/lightbulb.png"/>
								<span class="fragment fade-out">
									<p>$1000 pays for 16 solar lanterns</p>
								</span>
							</span>
						</div>
						<div class="col-1-3 fact">
							<span class="fragment fade-in"  data-autoslide="4000">
								<img src="/assets/img/icons/house.png"/>
								<span class="fragment fade-out">
									<p>$1000 provides a SolarMama with 4 solar home light systems</p>
								</span>
							</span>
						</div>
					</div> 
				</section>

				<section data-background="#fee036" data-background-transition="convex" data-autoslide="5000" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-01.jpg)">
							</div>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">You are contributing to #FlipTheSwitch</h3>
						</div>
					</div>
				</section>

				<section data-background="#fee036" data-autoslide="5000" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-02.jpg)">
							</div>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">for women and their communities in nearly 100 countries</h3>
						</div>
					</div>
				</section>

				<section data-background="#fee036" data-autoslide="5000" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-03.jpg)">
							</div>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">like Florentina Cloc, a Barefoot Solar Mama in the Mayan village of Santa Teresa in Belize</h3>
						</div>
					</div>
				</section>

				<section data-background="#fee036" data-autoslide="5000" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-04.jpg)">
							</div>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">When you visit her village, the first thing you’ll notice is solar power.</h3>
						</div>
					</div>
				</section>

				<section data-background="#fee036" data-autoslide="8500" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-05.jpg)">
							</div>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">Never did I think that I would be a solar engineer. It was my two sons who encouraged me. They saw this project as my opportunity to do something for the community of Santa Teresa, and help change all our lives.</h3>
						</div>
					</div>
				</section>


				<section data-background="#fee036" data-autoslide="7500" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-05.jpg)">
							</div>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">$1,000 paid for the selection of two more women just like Florentina. Who will soon electrify 100 homes in their village.
							</h3>
						</div>
					</div>
				</section>


				<section data-background="#fee036" data-background-transition="convex" data-autoslide="29000" data-transition-speed="slow">
					<div class="grid">
						<div class="col-1-2">
							<video width="100%">
						    	<source data-src="/assets/video/video.mp4" type="video/mp4"/>
						 	</video>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">From the Field</h3>
							<p>My basket is full… I will come back with the title. I am a solar engineer.</p>
						</div>
					</div>
				</section>


				<section data-background="#e68526" data-background-transition="zoom" data-autoslide="3500" data-transition-speed="slow">
					<h3 class="text-shadow c-white max-width">Thank you from</h3>
					<img src="/assets/img/barefoot-logo-colors.png" width="300px" alt="barefoot college logo"/>
					<br/>
					
				</section>

				<section data-background="#badb1c" data-background-transition="zoom" data-autoslide="3500" data-transition-speed="slow">
					<h4>The Hogan Lovells Citizenship Partnership to empower women and girls</h4><br/>
					<img src="/assets/img/hl-logo.png" width="200px" alt="barefoot college logo"/><br/>
					<p style="max-width: 50%; display:block; margin:0 auto;">By Training 400 women, Solar electrifying 20,000 households, Bringing light to 200,000 people And Helping Barefoot achieve 7 of the 17 Sustainable Development Goals (SDGs).</p><br/>

					<a href="javascript:window.location.reload(true);" class="c-white text-shadow">	
						<img src="/assets/img/icons/replay.svg"/>
					</a>

				</section>


			</div>

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.7/howler.core.min.js"></script>
		<script src="/assets/js/app.min.js"></script>

	</body>
</html>
