<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>What Will 1000 Dollars Do</title>
		
		<link rel="stylesheet" href="/assets/css/app.min.css">
	</head>

	<body>
		<style>

    .noscroll {
        position: fixed;
        overflow: hidden;
    }

    #overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: #e68526;
    }

    #spinner {
        display: none;
        position: fixed;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        z-index: 101;
        background-color: #ffffff;

        -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
        animation: sk-rotateplane 1.2s infinite ease-in-out;
    }

    @-webkit-keyframes sk-rotateplane {
        0% { -webkit-transform: perspective(120px) }
        50% { -webkit-transform: perspective(120px) rotateY(180deg) }
        100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
    }

    @keyframes sk-rotateplane {
        0% {
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
        } 50% {
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
        } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }

</style>
		<div id="overlay"></div>
		<div id="spinner"></div>

		<div class="foot-logo">
			<img src="/assets/img/foot-logo.png" alt="">
		</div>
 
		<a href="#" class="speaker">
		  <span></span>
		</a>
 
		<div class="reveal">

			<div class="slides">

				<section data-background="/assets/img/splash.jpg" id="first" style="display:none;" data-transition-speed="slow">
					<h3 class="ml12 c-white">Thank you</h3>
					<h3 class="ml12 c-white">{{page.title}}</h3><br/>

					<p class="c-white">Here is what your gift has made possible:</p>
					

				</section>

				<section data-background="linear-gradient(#badb1c, #ffffff)" data-background-transition="zoom"  data-autoslide="5000" data-transition-speed="slow">
					<h3 class="c-black" style="max-width: 640px; margin:0 auto; display: block; font-style: italic;">"Access to clean light and all its related enabling benefits is not a luxury item. It’s a human right, one we at <a style="color:#e68526;" href="//barefootcollege.org" target="_blank">Barefoot College</a> believe is the essential step to eradicating poverty."</h3><br/>
					<p>-- Meagan Fallone, CEO of Barefoot College International</p>
				</section>

				<section data-background="linear-gradient(#badb1c, #ffffff)" data-background-transition="zoom" data-transition-speed="slow" data-autoslide="1000">
					<h3 class="c-black">Your gift has enabled</h3>
 
					<div class="grid">
						<div class="col-1-3 fact">
							<span class="fragment fade-in" data-autoslide="2000">
									<img src="/assets/img/icons/women.png" />
									<span class="fragment fade-out">
										<p>$1000 enables 2 Solar Mamas to go through an ENTREPRENEURIAL and LIFE SKILLS training in addition to her solar engineering training</p> 
								</span>
							</span>
							
						</div>
						<div class="col-1-3 fact">
							<span class="fragment fade-in" data-autoslide="2000">
								<img src="/assets/img/icons/lightbulb.png"/>
								<span class="fragment fade-out">
									<p>$1000 pays for 16 solar lanterns</p>
								</span>
							</span>
						</div>
						<div class="col-1-3 fact">
							<span class="fragment fade-in"  data-autoslide="2000">
								<img src="/assets/img/icons/house.png"/>
								<span class="fragment fade-out">
									<p>$1000 provides a SolarMama<br/> with 4 solar home light systems</p>
								</span>
							</span>
						</div>
					</div> 
				</section>

				<section data-background="linear-gradient(#fee036, #ffffff)" data-background-transition="convex" data-autoslide="2500" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-01.jpg)">
							</div>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">You are contributing to <span style="color:#e68526;">#FlipTheSwitch</span><br/>
							<span class="fragment">for women and their communities in nearly 100 countries</span></h3>
							
						</div>
					</div>
				</section>

				<section data-background="linear-gradient(#fee036, #ffffff)" data-autoslide="2500" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-03.jpg)">
							</div>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">like Florentina Cloc, a Barefoot Solar Mama in the Mayan village of Santa Teresa in Belize</h3>
						</div>
					</div>
				</section>

				<section data-background="linear-gradient(#fee036, #ffffff)" data-autoslide="2500" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-04.jpg)">
							</div>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">When you visit her village, the first thing you’ll notice is solar power.</h3>
						</div>
					</div>
				</section>

				<section data-background="linear-gradient(#fee036, #ffffff)" data-autoslide="4500" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-05.jpg)">
							</div>
						</div>
 
						<div class="col-1-2 flex-center">
							<h4 class="c-black" style="margin-left: 50px;">"Never did I think that I would be a solar engineer. It was my two sons who encouraged me. They saw this project as my opportunity to do something for the community of Santa Teresa, and help change all our lives."<br/>
							 -- Florentina Cloc, Solar Mama</h4>
						</div>
					</div>
				</section>


				<section data-background="linear-gradient(#fee036, #ffffff)" data-autoslide="4000" data-transition-speed="slow" class="slideshow">
					<div class="grid">
						<div class="col-1-2 raised-box">
							<div class="image-slideshow" style="background-image:url(/assets/img/slideshow-06.jpg)">
							</div>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black">$1,000 paid for the selection of two more women just like Florentina who will soon electrify 100 homes in their village.
							</h3>
						</div>
					</div>
				</section>


				<section data-background="linear-gradient(#fee036, #ffffff)" data-background-transition="convex" data-autoslide="29000" data-transition-speed="slow">
					<div class="grid">
						<div class="col-1-2">
							<video width="100%">
						    	<source data-src="/assets/video/video.mp4" type="video/mp4"/>
						 	</video>
						</div>

						<div class="col-1-2 flex-center">
							<h3 class="c-black" style="text-align: left; margin-left: 60px">From the Field</h3>
							<p style="text-align: left; margin-left: 60px">"My basket is full... I will come back with the title. I am a solar engineer."<br/>
							</p>
						</div>
					</div>
				</section>
 

				<section data-background="linear-gradient(#e68526, #ffffff)" data-background-transition="zoom" data-autoslide="2000" data-transition-speed="slow">
					<h3 class="text-shadow c-white max-width">Thank you from</h3><br/>
					<img src="/assets/img/barefoot-colors.png" width="300px" alt="barefoot college logo"/>
					<br/>
					
				</section> 

				<section data-background="linear-gradient(#badb1c, #ffffff)" data-background-transition="zoom" data-autoslide="5000" data-transition-speed="slow">
					<h4>The Hogan Lovells Citizenship Partnership to empower women and girls by:</h4><br/>
					<img src="/assets/img/hl-logo.png" width="300px" alt="HL logo"/><br/><br/>
					<p style="max-width: 50%; display:block; margin:0 auto;">
						<span class="fragment" data-autoslide="1000">Training 400 women</span><br/> 
						<span class="fragment" data-autoslide="1000">Solar electrifying 20,000 households</span> <br/>
						<span class="fragment" data-autoslide="1000">Bringing light to 200,000 people</span> <br/>
						<span class="fragment" data-autoslide="1500">And Helping Barefoot achieve 7 of the 17 Sustainable Development Goals (SDGs).</span> 
					</p>
					

				</section> 

				<section data-background="linear-gradient(#badb1c, #ffffff)" data-background-transition="zoom" data-autoslide="2000" data-transition-speed="slow">
					<h3 class="max-width">Help us #FlipTheSwitch</h3><br/>
					<p class="max-width">Provide pro bono advice to Barefoot College to help their global expansion, volunteer to educate the next generation about the SDGs, or fundraise with your clients to help train more solar mamas. Women are the changemakers. They are prepared for this moment in history to lead the way to a better life, economic growth, stronger communities and a better world. Walk Barefoot with us and leave your footprints for a better world.</p>
					<p class="max-width">Contact us at citizenship.london@hoganlovells.com to get involved."</p>
					<br/>

					{% include share-icons.html %}
					<br/>
					<a href="javascript:window.location.reload(true);" class="c-white text-shadow">	
						<img src="/assets/img/icons/replay.svg"/>
					</a>
				</section> 
 

			</div>

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.7/howler.core.min.js"></script>

		<script src="/assets/js/app.min.js"></script>

		<script>
			document.body.setAttribute("class", "noscroll");
			document.getElementById("overlay").style.display = "block";
			document.getElementById("spinner").style.display = "block";

			window.onload = function() {
				document.getElementById("spinner").style.display = "none";
				document.getElementById("overlay").style.display = "none";

				document.body.className = document.body.className.replace(/\bnoscroll\b/,'');
			}
		</script>

	</body>
</html>
